{% extends 'app/base.html' %}
{% load static %}
{% block title %}Order Placed{% endblock title %}
{% block main-content %}
<div class="container my-5">
  <div class="row">
    <h3>Welcome {{request.user}}</h3>
    
    <div class="col-sm-5 offset-sm-1">
      {% for order in orders %}
      <div class="row">
       
        <hr>
        <div class="col-sm-6 ">
          <h4>Order {{forloop.counter}}</h4>
        </div>

        <p> <span class="fw-bold"> Order ID: </span> {{order.order_id}}</p>
        <p> <span class="fw-bold"> Product: </span>{{order.product.brand}} {{order.product.title}}</p>
        <p> <span class="fw-bold"> Quantity: </span> {{order.quantity}}</p>
        <p> <span class="fw-bold"> Ordered Date: </span> {{order.orderd_date}}</p>
        <p> <span class="fw-bold"> Price: </span> {{order.total_cost}}</p>
        <p> <span class="fw-bold"> Order Status: </span> <span class="badge bg-danger">{{order.status}}</span></p>

        {% if order.is_paid %}
        <p class=" fw-bold ">Payment Status: <span class="badge bg-success">Success</span></p>
        {% else %}
        <p class=" fw-bold ">Payment Status: <span class="badge bg-danger">Failed</span></p>
       
      </div>
      {% endif %}
    </div>
    <div class="col-sm-4  ">
        <img src="{{order.product.product_image.url}}" alt="" class="img-fluid img-thumbnail mx-auto d-block">

        {% if not order.is_paid %}
        <a href="#" class="btn btn-sm btn-danger mr-3 remove-order" oid="{{order.order_id}}">Delete</a>
        {% endif %}

    </div>
    

    {% endfor %}






  </div>
</div>
{% endblock main-content %}