{% extends 'app/base.html' %}
{% load static %}
{% block title %}Payment Successfull{% endblock title %}
{% block main-content %}
<div class="container m-5">
 <div class="row">
  <h2 class="text-center m-5">
    
    <img src="{% static 'app/images/wallet.png'%}" alt="" class="img-fluid  w-25 ">
    <br>

    Payment Successfull</h2>
 <br>
 
</div>
<div class="text-center">
  <a class="btn btn-warning fw-bold" href="{% url 'orders' %}">Check my Orders</a>
 </div>
</div>
{% endblock main-content %}
